<html>

<head>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <title>sign up</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="signupCss.css">
</head>

<body>

    <div class="container">

        <div class="col-md-12">
            <div class="col-md-6 offset-md-3 centered">
                <h3 class="head">task app</h3>
            </div>
        </div>
        <div class="row">

            <div class="col-md-3  log "> 
                <div class="col-lg-12 col-md-12 col-12 offset-lg-6 loginBtn">
                <button type="button" class="btn btn-outline-success " onclick="login()">login</button>
</div>
            </div>
            <div class="col-md-6   main" id="logid">
                <form action="<%= baseurl %>/users/login" method="post">
                    <div class="col-md-12"> <label for="username">E-mail :</label>
                         <input name="email" type="text" placeholder="">
                    </div>
                    <div class="col-md-12"> <label for="password">password :</label>
                         <input name="password" type="password" placeholder=""></div>
                    <div class="custom-control custom-switch col-md-6 offset-md-3 switch">
                        <input type="checkbox" class="custom-control-input" id="customSwitch1">
                        <label class="custom-control-label " for="customSwitch1">remember password</label>
                    </div>
                    <button name="submit" type="submit" class="btn btn-success col-md-3 offset-md-4">login</button>
                    <div class="col-md-12 links">
                        <p class="text-right"><small ><a href="..."> forget password</a></small></p>

                    </div>
                </form>

            </div>


            <!-- start part two-->

            <div class="col-md-6 hide  main signup" id="signid" >
                <form action="<%= baseurl %>/loginpage" method="post">
                    <div class="col-md-12"> <!-- first and last name-->
                        <label for="first name" class="col-lg-3 col-sm-12 col-12 text-center">first name : </label>
                        <input name="firstname" type="text" class="col-lg-2 col-sm-12 col-12 text-center"  style="width: 100%">
                        <label for="last name" class="col-lg-3 col-sm-12 col-12 text-center">last name :</label>
                        <input name="lastname" type="text" class="col-lg-2 col-sm-12 col-12 text-center"  style="width: 100%"> 
                    </div>
                    <div class="col-md-12"><label for="email" class="col-md-5 col-sm-12">enter your E-mail :</label>
                        <input name="usermail" type="text" class="col-md-5 col-sm-12" style="width: 100%">
                    </div>
                    <div class="col-md-12"><label for="password" class="col-md-5"> password : </label>
                         <input name="userpassword" type="password" class="col-md-5" style="width: 100%;">
                    </div>
                    <div class="col-md-12"><label for="password" class="col-md-5">confirm password :</label> 
                        <input name="cpassword" type="password" class="col-md-5" style="width: 100%;">
                    </div>
                    
                    <button name="submit" type="submit" class="btn btn-success col-md-3 offset-md-4">register</button>

                </form>

            </div>
            <!-- end of part two-->
            <div class="col-md-3  log "> 
                <div class="col-lg-12 col-md-12 col-12  signupBtn">
                <button type="button" class="btn btn-outline-danger " onclick="sign()">signup</button>
</div>
            </div>
        </div>
    </div>


    <script src="signupJs.js"></script>

</body>

</html>